# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Configurações do VS Code (opcional, mas recomendado)
.vscode/

# Se um dia usar variáveis de ambiente locais
.env